{% extends 'base.html' %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">My courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course_detail' task.theme.course.id %}">{{ task.theme.course.title }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'theme_detail' task.theme.course.id task.theme.id %}">{{ task.theme.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ task.title }}</li>
        </ol>
    </nav>

    <h3> {{ task.title }} </h3>
    <p>{{ task.description}} </p>

    {% if is_paginated %}
        <ul class="nav nav-tabs">
            {% for lecture in lectures %}
                <li class="nav-item">
                    <a class="nav-link {% if lecture_page.number == forloop.counter and not is_test %}active{% endif %}"
                       href="?lecture={{ forloop.counter }}">{{ lecture.title }}</a>
                </li>

            {% endfor %}
            <li class="nav-item">
                <a class="nav-link {% if is_quiz_page %}active{% endif %}"
                   href="?quiz=1">Test</a>
            </li>
        </ul>

        {% if task.lecture_set.count > 0 and not is_quiz_page %}
            {% with lecture=lecture_page.0  %}
                <div class="mt-10">
                    <div class="container">
                        <h4>{{ lecture.title }}</h4>
                        <p>{{ lecture.content|safe }}</p>
                    </div>
                </div>
            {% endwith %}

        {% else %}
            {% if quizes or quizes_multiple_choice %}
                <form method="post">
                    {% csrf_token %}

                    {% if quizes %}
                        {% for quiz in quizes %}
                            <div class="mb-3">
                                <p>{{ forloop.counter }}. {{ quiz.content }}</p>
                                {% for quizvar in quiz.quizvar_set.all %}
                                    <div>
                                        <input type="radio" id="{{ quizvar.id }}"
                                               value="{{ quizvar.id }}"
                                               name="{{ quiz.id }}">
                                        <label for="{{ quizvar.id }}">{{ quizvar.content }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if quizes_multiple_choice%}
                        {% for quiz in quizes_multiple_choice %}
                            <div class="mt-3">
                                <p>{{ forloop.counter }}. {{ quiz.content }}</p>
                                {% for quizvar in quiz.quizmultiplechoicevar_set.all %}
                                    <div>
                                        <input type="checkbox" id="{{ quizvar.id }}"
                                               value="{{ quizvar.id }}"
                                               name="{{ quiz.id }}">
                                        <label for="{{ quizvar.id }}">{{ quizvar.content }}</label>
                                    </div>
                                {% endfor %}
                            </div>

                        {% endfor %}

                    {% endif %}
                <input class="btn btn-primary mt-3" type="submit" value="Send">
            </form>

            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}