{% extends 'base.html' %}

{% block content %}
    // create django form for quiz
    <form action="{% url 'quiz' %}" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <h3>{{ question.question_text }}</h3>
            {% for choice in question.choice_set.all %}
                <input type="radio" name="question{{ forloop.parentloop.counter }}" value="{{ choice.id }}" required>
                {{ choice.choice_text }}
                <br>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit">
{% endblock %}