{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">My courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course_detail' theme.course.id %}">{{ theme.course.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ theme.title }}</li>
        </ol>
    </nav>
    <h2>{{ theme.title }}</h2>
    {% for task in theme.task_set.all %}
        <div class="mt-5">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <p class="card-text">{{ task.description }}</p>
                    <a href="{% url 'task_detail' theme.course.id theme.id task.id %}" class="btn btn-primary">Go to task</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}